<html>
    <head>
        <title>Tyler's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published:14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>this is some kind of text to be put somewhere....but who knows.</p>
        </div>

        <div>
            <p>published:14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>This is another blog post of text</p>
        </div>

    </body>

</html>